<body>
        <div class="container"> 
          <div class="header">
              <h2>Pour tout vos besoins immobiliers</h2>
          </div>
          <div class ="intro">
                <h2>Comment pouvons nous vous aider aujourd'hui? </h2>
            </div>
        <div class="tooltip1">
        <a href="http://localhost:4200/services/interieur">
                <img class="intérieur" src="/assets/intérieur.jpg" alt="intérieur" width="150" height="150">
                <span class="tooltiptext">Interieur</span>
        </a>
        </div>
        <div class ="tooltip2">
                <a href="#"><img class="cuisine" src="/assets/cuisine.jpg" alt="cuisine" width="150" height="150"></a>
                <span class="tooltiptext">cuisine</span>
        </div>
        <div class ="tooltip3">
                <a href="#"><img class="bathroom" src="/assets/bathroom.jpg" alt="bathroom" width="150" height="150"></a>
                <span class="tooltiptext">Salle de bain</span> 
        </div>
        <div class = "tooltip4">
                <a href="#"><img class="sous-sol" src="/assets/sous-sol.jpg" alt="sous-sol" width="150" height="150"></a>
                <span class="tooltiptext">Sous-sol</span>
        </div>
        <div class = "tooltip5">
                <a href="#"> <img class="extérieur" src="/assets/extérieur.jpg" alt="extérieur" width="150" height="150"></a>
                <span class="tooltiptext">Exterieur</span>
        </div>
        <div class = "tooltip6">
                <a href="#"><img class="revetement" src="/assets/revetement.jpg" alt="Admin" width="150" height="150"></a>
                <span class="tooltiptext">revetement</span>
        </div>
        <div class = "tooltip7">
                <a href="#"><img class="toiture" src="/assets/toiture.jpg" alt="Admin" width="150" height="150"></a>
                <span class="tooltiptext">toiture</span>
        </div>
        <div class = "tooltip8">
                <a href="#"> <img class="asphalte" src="/assets/asphalte.jpg" alt="Admin" width="150" height="150"></a>
                <span class="tooltiptext">asphalte</span>
        </div>
        </div>
      </body>
      