<body>
  <div class="container"> 
    <div class="header">
        <h2>Pour tout vos besoins immobiliers</h2>
    </div>
    <div class ="intro">
      <h2>Bienvenue vous etes? </h2>
    </div>
    <a href="#" class="buttonAdmin">Administrateur</a>
    <a href="http://localhost:4200/services" class="buttonClient">Client</a>
    <img class="admin" src="/assets/admin.jpg" alt="Admin" width="150" height="150">
    <img class="client" src="/assets/client.jpg" alt="Client" width="150" height="150">
  </div>
</body>
<router-outlet> </router-outlet>
